@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-gray: #5B5B5B;
    --color-black: #111111;
    --color-black-b: #0D1317;
    --color-while: #FFFFFF;
    --color-blue: #232ED1;
    --color-orange: #F24C27;
    --color-blue-40: rgba(35, 46, 209, .4);
    --color-blue-30: rgba(35, 46, 209, .3);
    --color-blue-10: rgba(35, 46, 209, .1);

}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar {
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-link {
    color: var(--color-gray);
}

.nav-link.active {
    color: var(--color-blue);
}

.navbar__btn {
    box-sizing: border-box;
    border: 2px solid rgba(35, 46, 209, 0.4);
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
}

section{
    margin: 4rem 0;
}

/* Header */
header {
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}

.hero {
    height: 100vh;
    align-items: center;
}

.hero__title h1 {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero__title p {
    color: var(--color-gray);
    padding: 1rem 0;
}

.hero__title .buttons {
    padding: 0 .8rem;
    align-items: center;
}

.buttons--btn {
    padding: 1rem;
    background-color: var(--color-blue);
    color: var(--color-while);
    border-radius: .5rem;
    border: none;
}

.buttons--link {
    color: var(--color-gray);
    text-decoration: none;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .img--hero {
    position: relative;
    z-index: 2;
}

.hero .rectangle {
    z-index: 1;
    position: relative;
}

.hero .rectangle:before {
    position: absolute;
    content: '';
    background-color: var(--color-blue);
    width: 243px;
    height: 269px;
    right: -3.5rem;
    bottom: -3.5rem;
    border-bottom-right-radius: 20%;
}

.hero .rectangle:after {
    position: absolute;
    content: '';
    background-color: var(--color-orange);
    width: 24px;
    height: 24px;
    right: 32%;
    bottom: -3.5rem;
    border-top-left-radius: 20%;
}

.section__logo {
    margin: 5rem 0;
}

.section__logo p {
    text-align: center;
    margin-bottom: 3rem;
    font-size: var(--color-gray);
    opacity: .7;
}

.section__logo .logos img {
    width: auto;
    height: 40px;
    opacity: .7;
}

.section__why {
    margin: 0 5rem;
    margin-bottom: 7rem;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 56px;
}

.section__why .why--left {
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section__why .why--left a {
    text-decoration: none;
    margin-left: 0;
    margin-right: auto;
    color: var(--color-blue);
}

.section__why .why--left h2 {
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.section__why .why--left p {
    color: var(--color-gray);
}

.why--right .why--box-1,
.why--right .why--box-2,
.why--right .why--box-3,
.why--right .why--box-4 {
    width: 16.25rem;
    border-radius: 1rem;
    height: 16.25rem;
    border-radius: 12px;
    font-weight: 600;
    line-height: 2.25rem;
    padding: 48px 61px 32px 40px;
}

.why--right .why--box-1,
.why--right .why--box-2 {
    color: var(--color-blue);
    background: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
}

.why--right .why--box-3,
.why--right .why--box-4 {
    color: var(--color-orange);
    background: linear-gradient(180deg, rgba(255, 217, 208, 0.2) 0%, rgba(242, 76, 39, 0.2) 100%);
}

.section__why .why--right img {
    margin-bottom: 54px;
    width: 40px;
    height: auto;
}

.why--right .why--box-1,
.why--right .why--box-3 {
    margin-top: 2rem;
}

.section__image {
    position: relative;
    height: 100vh;
    background: url(./img/Image-Background.jpg);
    background-size: cover;
}


.section__image .bg-blue {
    border-top-left-radius: 1rem;
    position: absolute;
    width: 70%;
    bottom: -6rem;
    right: 0;
    line-height: 1.5rem;
    align-items: center;
    height: 15rem;
    background-color: var(--color-blue);
    color: var(--color-while);
    display: flex;
    justify-content: center;
}

.section__image .bg-blue h2 {
    width: 30%;
}

.section__image .bg-blue p {
    width: 50%;
    margin-left: 5rem;
}

.section__features {
    margin-top: 16rem;
}

.feature {
    margin-bottom: 8rem;
}

.features__img--bg {
    padding: 127px 115px;
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.2) 0%, rgba(0, 16, 255, 0.2) 100%);
    border-radius: 31px 31px 0px 31px;
}

.feature-4 .features__img--bg {
    background: linear-gradient(180deg, rgba(255, 204, 192, 0.3) 0%, rgba(242, 76, 39, 0.3) 100%);
    border-radius: 31px 31px 0px 31px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.feature__title {
    height: 100%;
    padding: 0 3rem;
}

.testiimonials__card {
    background: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
    border-radius: 12px;
    padding: 1.2rem 2rem;
    margin: 1rem;
}

.testiimonials__card img {
    width: 4rem;
    margin-right: 1rem;
}
.section__features p{
    margin: 1.5rem 0;
}
.testiimonials__card span{
    color: var(--color-orange);
}
a{
    text-decoration: none;
}

/* FAQ */
.section__faq{
    margin: auto 15rem;
}

.section__faq .heading-title{
    margin-bottom: 3rem;
}

.section__faq .faq {
    padding: 1.4rem 0;
}
.section__faq .faq strong{
    font-size: 1.4rem;
}
.section__faq .faq strong span{
    color: var(--color-gray);
    margin-right: 1.5rem;
}
.section__faq .faq-1 strong span{
    color: var(--color-blue);
}
.section__faq .faq p{
    margin-top: 1rem;
    margin-left: 3.3rem;
    color: var(--color-gray);
}
.section__faq .faq-5{
    margin-bottom: 10rem;
}
/* Footer */
p{
    margin: 0;
    padding: 0;
}
footer{
    background-color: #EFF0F8;
}
footer .group-17{
    margin: 0 4rem;
    background-color: var(--color-blue);
    color: var(--color-while);
    padding: 3rem;
    position: relative;
    top: -7rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
footer .group-17::before{
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    left: -3rem;
    top: 0;
    border-bottom-left-radius: .5rem;
    background-color: var(--color-orange);
}
footer .group-17::after{
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    right: -2rem;
    bottom: 0;
    border-bottom-right-radius: .5rem;
    background-color: var(--color-blue);
}
footer .group-17 span{
    display: block;
}
footer .btn-footer{
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border: none;
    color: var(--color-while);
    background-color: var(--color-orange);
    font-weight: 500;
    border-radius: .2rem;
    align-items: center;
}
footer .footer-bottom{
    background-color: var(--color-blue);
    padding: 1rem;
    text-align: center;
    color: var(--color-while);
}

.footer-main{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.footer-main .footer-left i{
    padding-right: 1rem;
    color: var(--color-gray);
}

.footer-main .footer-right .footer-list b{
    padding: 1rem 0;
    display: block;
}

.footer-main .footer-right .footer-list p{
    padding: 1rem 0;
    margin: 0;
    color: var(--color-gray);
}
.footer-subscribe{
    padding: 4rem 0;
}
.footer-subscribe p{
    display: inline-block;
    color: var(--color-gray);
    margin: auto 0;
}
.subscribe{
    padding: 1rem;
    background-color: var(--color-while);
}